<h1>{{'welcome'|translate}} {{user.UserName}}!</h1>
<ul class="list">
    <li class="list-item"><s>registration umstellen</s></li>
    <li class="list-item"><s>selector präfix</s></li>
    <li class="list-item"><s>main component</s></li>
    <li class="list-item"><s>flexbox</s></li>
    <li class="list-item"><s>https://meyerweb.com/eric/tools/css/reset</s></li>
    <li class="list-item"><s>styles.scss -> ans richtige ort verteilen</s></li>
    <li class="list-item"><s>kebab-case</s></li>
    <li class="list-item"><s>resourcen von db ins frontend verschieben</s></li>
    <li class="list-item"><s>scss "c*" weg</s></li>
    <li class="list-item"><s>image-pfade als dictionary zur verfügung stellen</s></li>
    <li class="list-item">character component aufteilen in anzeige / bearbeitung</li>
    <li class="list-item">footer-zeile</li>
    <li class="list-item">services: api calls verallgemeinern</li>
    <li class="list-item">hateoas</li>
    <li class="list-item">models / interfaces</li>
    <li class="list-item">viewmodel validierung ( siehe github.com/JeremySkinner/FluentValidation )</li>
    <li class="list-item">berechtigungen (admin / user)</li>
    <li class="list-item">character inaktivieren</li>
    <li class="list-item">flag instanz-user für einsicht in fremde listen</li>
</ul>