/* line 1, login.styles.scss */
div {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 10, login.styles.scss */
h1 {
  width: 100%;
  text-align: center;
}

/* line 15, login.styles.scss */
input {
  text-align: center;
  width: 100%;
  height: 25px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

/* line 23, login.styles.scss */
button {
  width: 49%;
  padding: 0;
  margin: 0;
}

/* line 29, login.styles.scss */
.cLoginButton {
  float: left;
}

/* line 33, login.styles.scss */
.cRegisterButton {
  float: right;
}
