:host {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.language-button {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: transparent;
}