<form class="registration-form" name="registrationForm" (submit)="onSubmit()">
    <h1 class="registration-title">{{ 'registerTitle' | translate }}</h1>
    <input class="registration-input" name="usernameInput" [(ngModel)]="user.username" placeholder="{{'username' | translate}}" />
    <input class="registration-input" name="passwordInput" [(ngModel)]="user.password" type="password" placeholder="{{'password' | translate}}" />
    <input class="registration-input" name="repeatInput" [(ngModel)]="passwordConfirmation" type="password" placeholder="{{'passwordRepeat' | translate}}"
    />
    <div class="buttons">
        <button class="register-button" type="submit">{{ 'register' | translate }}</button>
        <button class="cancel-button" type="button" routerLink="/login">{{ 'cancel' | translate }}</button>
    </div>
</form>