$width: 300px;
$margin: 2.5px;

:host {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    flex: 0 0 auto;
    width: $width;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration-title {
    margin-bottom: 5px;
}

.registration-input {
    text-align: center;
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.register-button, .cancel-button {
    width: ($width / 2) - $margin;
}