/* line 1, styles.scss */
body {
  margin: 0;
}

/* line 5, styles.scss */
label, p, h1, input, button, a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* line 10, styles.scss */
h1 {
  color: #369;
  font-size: 200%;
}

/* line 15, styles.scss */
button {
  width: 150px;
  height: 40px;
  background: none;
  border: none;
  color: white;
  background-color: grey;
  font-size: 14px;
}

/* line 25, styles.scss */
button:hover {
  background-color: white;
  color: grey;
}

/* line 30, styles.scss */
.cView {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* line 36, styles.scss */
.cRight {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  padding-left: 10px;
  height: 100%;
  width: 80%;
  overflow: auto;
}

/* line 46, styles.scss */
.cNavi {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: lightgrey;
}

/* line 55, styles.scss */
.cContent {
  display: flex;
  position: relative;
  float: top;
  height: 100%;
}

/* line 62, styles.scss */
.cLanguages {
  display: block;
  float: bottom;
}

/* line 67, styles.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 72, styles.scss */
.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
